<div class="flex flex-col items-center p-2 text-center">
    <img class="mb-10" src="../../../../../assets/icons/anopinion_logo.svg" alt="An Opinion Logo" style="width: 200px;">
    <div class="w-full">
        <h1 class="text-2xl my-5">{{ isRegister ? 'Register' : 'Login'}}</h1>
        <form
            class="flex flex-col gap-y-5"
            [formGroup]="signForm"
            (ngSubmit)="onSubmit()"
            >
            <app-input-field
                type="text"
                name="email"
                placeholder="Email"
                [control]="signForm.controls.email"
            ></app-input-field>
            <app-input-field
                type="password"
                name="test"
                placeholder="Password"
                [control]="signForm.controls.password"
            ></app-input-field>
            <app-input-field
                *ngIf="isRegister"
                type="password"
                name="test"
                placeholder="Confirm Password"
                [control]="signForm.controls.confirmPassword"
            ></app-input-field>
            <button
                class="py-2 px-4 border border-black rounded-2xl w-max mx-auto"
                [disabled]="signForm.valid ? false : true"
            >{{ isRegister ? 'Register' : 'Login' }}</button>
        </form>
        <p>{{ error }}</p>
    </div>
    <span *ngIf="isRegister" class="w-3/4 my-5">Already have an account? Click <a [routerLink]="['/auth/login']" class="underline">here</a> to sign in</span>
    <span *ngIf="!isRegister" class="w-3/4 my-5">Don't have an account? Click <a [routerLink]="['/auth/register']" class="underline">here</a> to register</span>
    <span *ngIf="!isRegister" >Forgot your password? Click <a class="underline" [routerLink]="['/auth/forgot-ppassword']">here</a></span>
</div>