<a class="absolute top-2 left-2 cursor-pointer" *ngIf="!stage1" (click)="toggleBackStage()">< <span class="underline">back</span></a>
<div class="mt-16 mx-2 flex flex-col items-center">
  <!-- STAGE 1 -->
  <div class="flex w-full">
    <div class="bg-green-400 py-2 px-4" [ngClass]="{'flex-1' : stage1}">
      <div>1 {{ stage1 ? '- Title' : null }}</div>
    </div>
    <div class="bg-green-500 py-2 px-4" [ngClass]="{'flex-1' : stage2}">
      <span>2 {{ stage2 ? '- Category' : null }}</span>
    </div>
    <div class="bg-green-600 py-2 px-4" [ngClass]="{'flex-1' : stage3}">
      <span>3 {{ stage3 ? '- Text' : null }}</span>
    </div>
    <div class="bg-green-700 py-2 px-4" [ngClass]="{'flex-1' : stage4}">
      <span>4 {{ stage4 ? '- Images / Videos' : null }}</span>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" class="w-full flex flex-col items-center">
    <!-- Stage 1 -->
    <div *ngIf="stage1" class="mt-20 w-full">
      <app-input-field
        type="text"
        name="title"
        placeholder="Title"
        [control]="form.controls.title"
      ></app-input-field>
    </div>
    <!-- Stage 2 -->
    <div *ngIf="stage2" class="mt-20 w-full flex flex-col">
      <span class="bg-gray-50 shadow-lg py-1 px-4 text-2xl place-self-center mb-4">Categories</span>
      <span>Search bar</span>
      <div>
        <ul class="flex gap-2 flex-wrap justify-between mt-4">
          <li
            *ngFor="let category of categories"
            class="bg-gray-50 shadow-lg p-2"
            (click)="modifyCategories(category)"
            >{{ category }}</li>
        </ul>
        selected categories: {{ selectedCategories }}
      </div>
    </div>
    <!-- STAGE 3 -->
    <div *ngIf="stage3" class="flex w-full">
      <app-text-area-field
        class="w-full mt-4"
        name="text"
        placeholder="Enter your text here"
        [control]="form.controls.text"
      ></app-text-area-field>
    </div>
    <!-- STAGE 4 -->
    <div *ngIf="stage4" class="flex w-full"> 
      <input class="mt-10" type="file">
    </div>

    <div class="bg-green-500 py-1 px-8 rounded-3xl mt-10"
      (click)="toggleStage()"
      *ngIf="!stage4"
    >Next</div>
    <ng-container *ngIf="stage4">
      <button class="bg-green-500 py-1 px-8 rounded-3xl mt-10">Finish</button>
    </ng-container>
  </form>
</div>