<div class="flex flex-col items-center">
  <h1 class="text-2xl mt-6 mb-4">Favourites</h1>
  <div class="grid grid-cols-1 gap-2 w-screen px-2">
    <ng-container *ngIf="fetchedFavouritePosts">
        <app-post-card
          *ngFor="let post of fetchedFavouritePosts"
            [category]="post.categories.join(', ')"
            [title]="post.title"
            totalComments="5"
            [id]="post.id"
        ></app-post-card>
      </ng-container>
  </div>
  <button class="bg-gray-200 py-2 px-4 rounded-xl mt-4" type="button" (click)="fetchMoreFavouritePosts()">More Posts</button>
</div> 