<div class="mt-2 mx-4">
    <img style="width: 200px;" src="../../../../../assets/icons/anopinion_logo.svg" alt="An Opinion Logo">
    <div class="mt-5">
        <h1 class="text-center text-2xl my-2">Your posts</h1>
        <div class="grid grid-cols-2 gap-2">
            <app-post-card
                category="GYM"
                title="How would I improve my current diet?"
                notifications="5"
            ></app-post-card>
            <app-post-card
                category="GYM"
                title="How would I improve my current diet?"
                notifications="5"
            ></app-post-card>
            <app-post-card
                category="GYM"
                title="How would I improve my current diet?"
                notifications="5"
            ></app-post-card>
            <app-post-card
                category="GYM"
                title="How would I improve my current diet?"
                notifications="5"
            ></app-post-card>
        </div>
    </div>
    <div class="mb-10">
        <h2 class="text-center text-2xl my-2">Hot Posts</h2>
        <div class="grid grid-cols-1 gap-2">
            <app-post-card
                category="GYM"
                title="How would I improve my current diet?"
                totalComments="5"
            ></app-post-card>
            <app-post-card
                category="GYM"
                title="How would I improve my current diet?"
                totalComments="10"
            ></app-post-card>
        </div>
    </div>
    <div class="flex justify-center my-4">
        <a class="bg-gray-200 py-2 px-10 uppercase rounded-md">Explore</a>
    </div>
</div>
