<div class="mt-2 mx-4">
  <div class="flex justify-between items-center">
    <span>< back</span>
  </div>
  <ng-container *ngIf="fetchedPost">
    <div class="mt-6 flex justify-end gap-2">
      <span class="bg-gray-50 p-2 shadow-lg" *ngFor="let category of fetchedPost.categories">{{ category }}</span>
    </div>
    <div class="mt-4">
      <h1 class="text-2xl text-center border-b border-black mb-4">{{ fetchedPost.title }}</h1>
      <p>{{ fetchedPost.text }}</p>
      <span class="text-xsm">Created: {{ fetchedPost.createdDate.toDate() | date }}</span>
    </div>
    <div class="text-center py-4" *ngIf="currentUid == fetchedPost.uid">
      <button class="underline" type="button" (click)="deletePostSelected = true">delete post</button>

      <ng-container *ngIf="deletePostSelected">
        <div><span>Are you sure? </span></div>
        <div class="flex justify-around underline">
          <button (click)="deletePost()">Yes</button>
          <button (click)="deletePostSelected = false">No</button>
        </div>
      </ng-container>
    </div>
    <!-- Comments section -->
    <div class="flex flex-col justify-center">
      <textarea class="p-2 border-gray-900 border-2 rounded-2xl resize-y w-full" #commentInput type="text"></textarea>
      <button class="mt-2 py-2 px-4 border border-black rounded-2xl w-max mx-auto" (click)="addComment(commentInput.value)" formtarget="_blank">Comment</button>
    </div>
    <app-comments
      [postId]="postId"
    ></app-comments>
  </ng-container>
</div>